<div class="bs-component bs-cases-pane" ng-mouseenter="hover('cases')" ng-mouseleave="hover('cases')" ng-controller="CaseListController as listCtrl">
	<legend class="text-primary"><span class="glyphicon glyphicon-folder-open"></span> &nbsp;&nbsp;Open Cases</legend>
	<div class="panel panel-primary">
		<div class="panel-body">
			<a class="btn btn-primary btn-xs panel-top-right-button" ng-click="listCtrl.updateView(true)" title="Refresh"><span class="glyphicon glyphicon-refresh"></span></a>
			<div id='source-button' class='btn btn-success btn-xs' ng-show="showRest['cases']" ng-click="openRestModal('openCasesListModalContent.html')" title="Show REST operations">{ REST }</div>
			
			<div ng-show="listCtrl.list.totalCount > 0 || filterText !== ''" class="sortable">
				<div ng-show="listCtrl.isFilterDisplayed()" class="input-group input-group-sm col-lg-6 filter">
				  <span class="input-group-addon glyphicon glyphicon-search"></span>
				  <input ng-model="filterText" type="text" class="form-control" placeholder="Filter"/>
				</div>
				<table>
					<thead>
					<tr>
						<th ng-repeat="header in listCtrl.tableHeaders" 
							ng-class="listCtrl.getHeaderClass(header)" 
							ng-click="listCtrl.orderBy(header)">{{header.label}}
						</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="case in listCtrl.getFilteredAndSortedList()">
						<td ng-class="listCtrl.getCellClass('id')">{{case.id}}</td>
						<td ng-class="listCtrl.getCellClass('procDefName')">{{case.procDefName}}</td>
						<td ng-class="listCtrl.getCellClass('procDefVersion')">{{case.procDefVersion}}</td>
						<td ng-class="listCtrl.getCellClass('start')">{{getDate(case.start)}}</td>
					</tr>
					</tbody>
				</table>
				<pagination-container></pagination-container>
			</div>
			<h4 ng-show="listCtrl.list.totalCount === 0 && filterText === ''">No available cases for the moment.</h4>
			
			<p class="portal_link_container"><a class="btn btn-danger btn-sm" href="/bonita/portal/homepage?tenant=1#?_p=caselistinguser&_pf=1&_f=mycases" target="_top"> 
				<span class="glyphicon glyphicon-new-window"></span> Cases page</a>
			</p>
		</div>
	</div>
</div>