<div class="bs-component bs-tasks-pane" ng-mouseenter="hover('tasks')" ng-mouseleave="hover('tasks')" ng-controller="TaskListController as listCtrl">
	<legend class="text-primary"><span class="glyphicon glyphicon-tasks"></span> Available Tasks</legend>
	<div class="panel panel-primary">
		<div class="panel-body">
			<a class="btn btn-primary btn-xs panel-top-right-button" ng-click="listCtrl.updateView(true)" title="Refresh"><span class="glyphicon glyphicon-refresh"></span></a>
			<div id='source-button' class='btn btn-success btn-xs' ng-show="showRest['tasks']" ng-click="openRestModal('taskListModalContent.html')" title="Show REST operations">{ REST }</div>
			
			<div ng-show="listCtrl.list.totalCount > 0 || filterText !== ''" class="sortable">
				<div ng-show="listCtrl.isFilterDisplayed()" class="input-group input-group-sm col-lg-6 filter">
				  <span class="input-group-addon glyphicon glyphicon-search"></span>
				  <input ng-model="filterText" type="text" class="form-control" placeholder="Filter"/>
				</div>
				<table>
					<thead>
					<tr>
						<th ng-repeat="header in listCtrl.tableHeaders" 
							ng-class="listCtrl.getHeaderClass(header)" 
							ng-click="listCtrl.orderBy(header)">{{header.label}}
						</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="task in listCtrl.getFilteredAndSortedList()">
						<td ng-class="listCtrl.getCellClass('displayName')">{{task.displayName}}</td>
						<td ng-class="listCtrl.getCellClass('procDefName')">{{task.procDefName}}</td>
						<td ng-class="listCtrl.getCellClass('dueDate')">{{getDate(task.dueDate)}}</td>
						<td ng-class="listCtrl.getCellClass('doIt')"><a class="btn btn-info btn-xs" ng-click="openStartModal(task.id, task.rootContainerId.displayName, task.rootContainerId.version, 'doTask', task.displayName)" title="Open task"><span class="glyphicon glyphicon-edit"></span></a></td>
					</tr>
					</tbody>
				</table>
				<pagination-container></pagination-container>
			</div>
			<h4 ng-show="listCtrl.list.totalCount === 0 && filterText === ''">No available task for the moment.</h4>
			
			<p class="portal_link_container"><a class="btn btn-danger btn-sm" href="/bonita/portal/homepage?tenant=1#?_p=tasklistinguser&_pf=1&_f=available" target="_top"> 
				<span class="glyphicon glyphicon-new-window"></span> Tasks page</a>
			</p>
		</div>
	</div>
</div>